.container {
  padding: 0 2rem;
}

.main {
  padding: 1rem 0;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  padding: 2rem 0;

  @media (min-width: 600px) {
    font-size: 1.5rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45vw, 1fr));
  grid-gap: 2rem;

  &_item {
    display: inline-block;
    padding: 1rem;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: color 0.15s ease, border-color 0.15s ease;
    min-height: 200px;
    max-height: 500px;
    overflow: auto;
  }
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}